# Terraform downloaded providers, modules and cache
**/.terraform/

# Terraform provider lock files
**/.terraform.lock.hcl

# Terraform state and backups
*.tfstate
*.tfstate.*

# Saved Terraform plans
*.tfplan
tfplan

# Terraform operation and crash files
.terraform.tfstate.lock.info   